<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/App.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.imshakil.bdiptv</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.1</string>
		<key>CFBundleVersion</key>
		<string>1326</string>
		<key>SigningIdentity</key>
		<string>Apple Development: i_shakil@icloud.com (GV44LJCUNW)</string>
		<key>Team</key>
		<string>ZLX5536JHH</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-03-02T05:06:39Z</date>
	<key>Name</key>
	<string>App</string>
	<key>SchemeName</key>
	<string>App</string>
</dict>
</plist>
